<tr>
  <td>#</td>
  <td><%= link_to(team.title, team_path(team)) %></td>
  <td><%= render_team_description(team) %></td>
  <td><%= team.user.email %></td>
  <td>
    <% if current_user && current_user == team.user %>
      <%= link_to("编辑", edit_team_path(team), class: "btn btn-sm btn-default") %>
      <%= link_to("删除", team_path(team), class: "btn btn-sm btn-default", method: :delete, data: {confirm: "Are you sure?"}) %>
    <% end %>
  </td>
</tr>
