<div class="container">
  <% @events.each do |event| %>
    <h3 style="text-align:right"> <%= event.project.title %> </h3>
    <%= event.created_at.strftime("%-d/%-m/%y: %H:%M %Z") %>, <%= event.user.email %> <%= event.action %> <%= link_to(event.todo.title, project_todo_path(event.project, event.todo)) %> <br> <%= event.todo.description %>
    <hr>
  <% end %>
</div>
