<div class="col-md-12">
  <div class="group">

    <%= link_to("创建新任务", new_project_todo_path(@project), class:"btn btn-default pull-right") %>
    <% if current_user && current_user == @project.user %>
      <%= link_to("Edit", edit_project_path(@project), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>
  <h2><%= @project.title %></h2>
  <p><%= @project.description %></p>

  <table class="table">
    <thead>
      <tr>
        <th>任务创建者</th>
        <th>任务名称</th>
        <th>任务描述</th>
        <th>截止日期</th>
        <th>完成者</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td><%= todo.user.email %></td>
          <td><%= todo.title %></td>
          <td><%= todo.description %></td>
          <td>
            <%= simple_form_for todo, url: due_project_todo_path(@project,todo) do |f| %>
              <%= f.input :due  %>
              <%= f.submit "Update", data: {disable_with:"Submitting..."} %>
            <% end %>
            <%= todo.due %>
          </td>
          <td>
            <%= simple_form_for todo, url: assign_project_todo_path(@project,todo) do |f| %>
              <%= f.select :assign, [1,2,3,4,5] %>
              <%= f.submit "Update", data: {disable_with:"Submitting..."} %>
            <% end %>
            <%= todo.assign %>
          </td>
          <td>
            <%= link_to("编辑任务", edit_project_todo_path(@project, todo), class: "btn btn-default btn-sm")%>
            <% if todo.is_trash %>
              <%= link_to("恢复任务", untrash_project_todo_path(@project,todo), class: "btn btn-default btn-sm", :method => :post) %>
            <% else %>
              <%= link_to("删除任务", trash_project_todo_path(@project,todo) ,class: "btn btn-default btn-sm", :method => :post) %>
            <% end %>
            <% if todo.is_completed %>
              <%= link_to("撤销完成", uncomplete_project_todo_path(@project,todo) ,class: "btn btn-default btn-sm", :method => :post) %>
            <% else %>
              <%= link_to("完成任务", complete_project_todo_path(@project,todo), class: "btn btn-default btn-sm", :method => :post) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

</div>
